# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development
.DS_Store
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Project specific
*.db
*.sqlite3
